doctype html
html
	head
		title «Amrest-app»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='css/normalize.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		div.layout-start.layout-start--login
			div.logo.layout-start__logo
			form(action='#' method='get')
				label.label.layout-start__label
					input(type='text').btn-form.btn-form__right