doctype html
html
	head
		title «Amrest-app»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='css/normalize.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		div.layout-start.layout-start--padding
			header.header-start
				div.header-start__title
					a(href='#').header-start__btn
						img(src='img/svg/cross.svg')
					h2.header-start__title.text-hdr-start Пароль отправлен
			section.password-message
				p.password-message__text.text-main-green Вашему руководителю был отправлен запрос на сброс пароля!
				p.password-message__text.text-main-grey После того, как будет произведен сброс пароля на стандартный Вам придет уведомление на указанный e-mail
			footer.footer-start
				a(href='#').btn-footer-start.text-main.footer-start__btn Забыли пароль
				a(href='#').btn-footer-start.text-main.footer-start__btn Регистрация