doctype html
html
	head
		title «Amrest-app»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='css/normalize.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		section.layout-side-menu.side-menu
			header.side-menu-header
				div.side-menu-header__hide
					img(src='img/svg/arrow-back.svg' alt='hide')
				div.side-menu-header__icon
					img(src='img/svg/man.svg' alt='man')
				div.side-menu-header__photo
					img(src='img/photo.jpg' alt='photo')
				p.side-menu-header__name.text-xs Maria Ivanova
				p.side-menu-header__slogan.text-xxs-white Мой девиз: «Возможно всё!»
			div.side-menu__container
				h2.side-menu__title.text-11-light-green Личная информация
				ul.side-menu-list
					li.side-menu-list__item
						a(href='#').text-xxs-dark-green.side-menu-list__link
							img(src='img/svg/activity.svg' alt='activity')
							|Моя активность
					li.side-menu-list__item
						a(href='#').text-xxs-dark-green.side-menu-list__link
							img(src='img/svg/student.svg' alt='student')
							|Моё обучение
					li.side-menu-list__item
						a(href='#').text-xxs-dark-green.side-menu-list__link
							img(src='img/svg/notepad.svg' alt='notepad')
							|E-library
					li.side-menu-list__item
						a(href='#').text-xxs-dark-green.side-menu-list__link
							img(src='img/svg/calendar.svg' alt='calendar')
							|Мои события
					li.side-menu-list__item
						a(href='#').text-xxs-dark-green.side-menu-list__link
							img(src='img/svg/medal-old.svg' alt='medal-old')
							|IDP Guide
					li.side-menu-list__item
						a(href='#').text-xxs-dark-green.side-menu-list__link
							img(src='img/svg/cv.svg' alt='cv')
							|Мое развитие
					li.side-menu-list__item
						a(href='#').text-xxs-dark-green.side-menu-list__link
							img(src='img/svg/starround.svg' alt='starround')
							|Вырвзить признание
			a(href='#').side-menu-footer
				img(src='img/svg/wheel.svg' alt='wheel').side-menu-footer__icon
				p.text-xxs-white.ttu Как пользоваться приложеним