doctype html
html
	head
		title «Amrest-app»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='css/normalize.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body.side-menu
		header.side-menu-header
			div.side-menu-header__hide
				img(src='img/svg/arrow-back.svg' alt='hide')
			div.side-menu-header__icon
				img(src='img/svg/man.svg' alt='man')
			div.side-menu-header__photo
				img(src='img/photo.jpg' alt='photo')
			p.side-menu-header__name Maria Ivanova