/*style*/
/*variables*/
/*width*/
/*/width*/
/*font-size*/
/*font-family*/
/*/font-family*/
/*color*/
/*/color*/
/*/variables*/
/*mixins*/
/*end of mixins*/
/*button*/
.btn-form, .btn-form-sm {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: #fff;
  border: 0.0625rem solid #00828f;
  -webkit-border-radius: 0.375rem;
     -moz-border-radius: 0.375rem;
          border-radius: 0.375rem;
  line-height: 2.375rem !important;
}

.btn-form:focus, .btn-form-sm:focus, .btn-form:hover, .btn-form-sm:hover {
  background: #f2f2f2;
}

.btn-form--right {
  padding-right: 1.875rem;
}

.btn-form--right + svg {
  position: absolute;
  top: 0.8125rem;
  right: 0.4375rem;
  width: 1rem;
  height: auto;
  fill: #b3b3b3;
}

.btn-form::-webkit-input-placeholder, .btn-form-sm::-webkit-input-placeholder {
  opacity: 1;
  color: #b3b3b3;
}

.btn-form:-ms-input-placeholder, .btn-form-sm:-ms-input-placeholder {
  opacity: 1;
  color: #b3b3b3;
}

.btn-form::-moz-placeholder, .btn-form-sm::-moz-placeholder {
  opacity: 1;
  color: #b3b3b3;
}

.btn-form--login {
  -webkit-box-shadow: 0 0.1875rem 0.125rem 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 0.1875rem 0.125rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1875rem 0.125rem 0 rgba(0, 0, 0, 0.25);
}

.btn-form-sm {
  line-height: 1.75rem !important;
}

.btn-twosided {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  position: relative;
}

.btn-twosided:focus, .btn-twosided:hover {
  background: #fff;
}

.btn-big {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background: #53759a;
  border: 0 solid #00828f;
  -webkit-border-radius: 0.4375rem;
     -moz-border-radius: 0.4375rem;
          border-radius: 0.4375rem;
  line-height: 3rem !important;
}

.btn-big:focus, .btn-big:hover {
  background: #53759a;
}

.btn-big--login {
  background: rgba(83, 117, 154, 0.7);
}

.btn-footer-start {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  background: #00828f;
  border: 0 solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  line-height: 3rem !important;
  text-align: center;
}

.btn-footer-start:focus, .btn-footer-start:hover {
  background: #54999b;
}

.btn-footer-start:focus, .btn-footer-start:hover {
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0.3125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0.3125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
}

.btn-simple-green {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background: #00828f;
  border: 0 solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  line-height: 1.625rem !important;
  text-align: center;
  display: block;
  width: 7.25rem;
  margin: 0 auto;
  -webkit-box-shadow: 0.1875rem 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0.1875rem 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0.1875rem 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.25);
}

.btn-simple-green:focus, .btn-simple-green:hover {
  background: #54999b;
}

.btn-simple-add {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.4375rem;
  padding-right: 0.3125rem;
  background: #fff;
  border: 0.0625rem solid #00828f;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  line-height: 1.5rem !important;
  text-align: center;
  display: block;
  width: 7.25rem;
  -webkit-box-shadow: 0.1875rem 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0.1875rem 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0.1875rem 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.25);
  position: relative;
}

.btn-simple-add:focus, .btn-simple-add:hover {
  background: #fff;
}

.btn-simple-add::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.5rem;
  margin-top: -0.0625rem;
  width: 0.5rem;
  height: 0.125rem;
  background: #00828f;
}

.btn-simple-add::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.6875rem;
  margin-top: -0.25rem;
  width: 0.125rem;
  height: 0.5rem;
  background: #00828f;
}

/*end of button*/
/*general*/
html,
body,
p,
h1,
h2,
h3,
h4,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html {
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 32px;
  }
}

body {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #58bbc4;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: transparent;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

/*end of general*/
/*fonts*/
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Roboto-Italic;
  src: url(../fonts/Roboto-Italic.ttf);
  font-weight: normal;
}

/*/fonts*/
/*typography*/
.common-text, .text-main, .text-main-green, .text-main-grey, .input-text, .btn-form, .btn-form-sm, .text-big-btn, .text-hdr-start, .text-sm, .text-xs, .text-xxs-white, .text-xxs-dark-green, .text-11, .text-11-light-green, .text-24, .percent-circle__value::after, .text-48, .percent-circle__value::before {
  font-family: Roboto-Regular, sans-serif;
  line-height: 1.2em;
}

.bold-text, .text-bold-13, .text-bold-15, .text-bold {
  font-family: Roboto-Bold, sans-serif;
  line-height: 1.2em;
}

.text-it {
  font-family: Roboto-Italic, sans-serif;
  line-height: 1.2em;
}

.text-main, .text-main-green, .text-main-grey {
  font-size: 1rem;
  color: #fff;
}

.text-main-green {
  color: #3b8989;
}

.text-main-grey {
  color: #808080;
}

.input-text, .btn-form, .btn-form-sm {
  font-size: 0.875rem;
  color: #808080;
}

.text-big-btn {
  font-size: 1.0625rem;
  color: #fff;
  text-transform: uppercase;
}

.text-hdr-start {
  font-size: 0.875rem;
  color: #00828f;
  text-transform: uppercase;
  text-decoration: none;
}

.text-sm {
  font-size: 0.875rem;
  color: #224347;
  text-decoration: none;
}

.text-xs {
  font-size: 0.75rem;
  color: #224347;
  text-decoration: none;
}

.text-xxs-white {
  font-size: 0.625rem;
  color: #fff;
  text-decoration: none;
}

.text-xxs-dark-green {
  font-size: 0.625rem;
  color: #224347;
  text-decoration: none;
}

.text-11 {
  font-size: 0.6875rem;
  text-decoration: none;
}

.text-11-light-green {
  font-size: 0.6875rem;
  color: #80cbc4;
  text-decoration: none;
}

.text-24, .percent-circle__value::after {
  font-size: 1.5rem;
  text-decoration: none;
}

.text-48, .percent-circle__value::before {
  font-size: 3rem;
  text-decoration: none;
}

.text-bold-13 {
  font-size: 0.8125rem;
  text-decoration: none;
}

.text-bold-15 {
  font-size: 0.9375rem;
  text-decoration: none;
}

.text-bold {
  font-size: 1rem;
}

.ttu {
  text-transform: uppercase;
}

.white, .activity__warning::before {
  color: #fff;
}

.black {
  color: #000;
}

.green-dark, .percent-circle__value {
  color: #224347;
}

.green {
  color: #54999b;
}

.purple-dark {
  color: #3f425b;
}

.dusty-gray {
  color: #999;
}

.ming {
  color: #3b8989;
}

.blue-lagoon {
  color: #00828f;
}

.fz-10 {
  font-size: 0.625rem;
}

.fz-11 {
  font-size: 0.6875rem;
}

.fz-12, .activity__warning::before {
  font-size: 0.75rem;
}

.fz-14 {
  font-size: 0.875rem;
}

.fz-19 {
  font-size: 1.1875rem;
}

.fz-24 {
  font-size: 1.5rem;
}

.fz-25 {
  font-size: 1.5625rem;
}

.fz-30 {
  font-size: 1.875rem;
}

.fz-36 {
  font-size: 2.25rem;
}

/*/typography*/
/*layout*/
.layout-start {
  padding: 2.6875rem 0 3.625rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

.layout-start--login {
  padding-top: 1.125rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: #58bbc4 url("../img/bg-start.jpg") no-repeat 0 0;
}

.layout-start--padding {
  padding-top: 2.6875rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.layout-start__logo {
  margin: 0 auto 1.5rem;
}

.layout-start__label {
  margin-bottom: 0.875rem;
}

.layout-middle, .layout-profile {
  padding: 2.9375rem 1.125rem 3.125rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

.layout-profile {
  padding-top: 7.5rem;
}

.layout-side-menu {
  padding-top: 10.1875rem;
  padding-bottom: 3.125rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

.layout-bg-light {
  background: transparent url(../img/bg-activity.jpg) no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

/*end of layout*/
/*logo*/
.logo {
  width: 9.5rem;
  height: 5.75rem;
  background: url("../img/svg/logo.svg") no-repeat 0 0;
}

/*end of logo*/
/*forms*/
.input {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  border: 0 solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  line-height: 2.5rem !important;
  padding: 0;
}

.input:focus, .input:hover {
  background: #fff;
}

.label {
  display: block;
  position: relative;
}

.captcha {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.captcha__item {
  width: 47%;
  height: 2.5rem;
}

.captcha__item svg {
  max-width: 100%;
  max-height: 100%;
}

.form-search {
  padding: 0.5rem 1rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: #f2f2f2;
}

.form-search__list {
  margin: 0 -1rem -0.5rem;
}

.label-twosided {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.625rem;
}

.label-twosided:hover, .label-twosided:focus {
  background: #fff;
}

.label-twosided svg {
  cursor: pointer;
}

.label-twosided svg:first-child {
  width: 1.375rem;
  margin-right: 0.5rem;
}

.label-twosided svg:first-child path {
  fill: #58bbc4;
}

.label-twosided svg:last-child {
  width: 0.875rem;
  margin-left: 0.5rem;
}

.label-twosided svg:last-child path {
  fill: #808080;
}

.label-rigth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.6875rem;
}

.label-rigth svg {
  width: 0.5rem;
  margin-left: 0.75rem;
}

.label-rigth svg path {
  fill: #006064;
}

/*/forms*/
/*footer*/
.footer-start {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.75rem;
  padding: 0.3125rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: #00828f;
}

.footer-start__btn {
  width: 45%;
}

/*/footer*/
/*header*/
.header-start {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-start__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3125rem 2.25rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 2.6875rem;
  background: #caeef1;
}

.header-start__btn {
  position: absolute;
  top: 0.875rem;
  left: 1.125rem;
  width: 1.125rem;
}

/*/header*/
/*recovery*/
.recovery {
  padding-top: 1rem;
}

/*/recovery*/
/*restaurant*/
.rest-name__link {
  display: block;
  padding-left: 2.625rem;
  line-height: 2.375rem;
  position: relative;
}

.rest-name__link:hover, .rest-name__link:focus {
  background: #f2f2f2;
}

.rest-name__link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 1.4375rem;
  margin-top: -0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 0.0625rem solid #b3b3b3;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.rest-name__link--form {
  padding-left: 1.4375rem;
}

.rest-name__link--form::before {
  display: none;
}

.rest-name__link--form:hover, .rest-name__link--form:focus {
  background: #e6e6e6;
}

/*/restaurant*/
/*rest-list*/
.rest-find {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

.rest-find__list {
  padding-right: 1.25rem;
}

.rest-find__form-list {
  display: none;
}

.rest-find--searching::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.rest-find--searching .rest-find__form {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
}

.rest-find--searching .rest-find__form-list {
  display: block;
}

/*/rest-list*/
/*password-message*/
.password-message {
  padding-top: 2.0625rem;
}

.password-message__text {
  margin-bottom: 2.1875rem;
  text-align: center;
}

.password-message__text:last-child {
  margin-bottom: 0;
}

/*/password-message*/
/*register*/
.register {
  height: 100%;
}

.register__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
}

.register__item {
  margin: 0.375rem 0;
}

/*/register*/
/*activity-list*/
.activity-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 2.9375rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow-y: scroll;
  background: #54999b;
}

.activity-list__item {
  margin: 0 0.625rem;
  height: inherit;
}

.activity-list__item:first-child {
  margin-left: 0;
}

.activity-list__item:last-child {
  margin-right: 0;
}

.activity-list__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.75rem;
  height: inherit;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.activity-list__link--active, .activity-list__link:focus, .activity-list__link:hover {
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid #224347;
}

.activity-list__icon {
  height: 1.25rem;
}

/*/activity-list*/
/*progress-bar*/
.progress-bar {
  height: 1.5625rem;
  overflow: hidden;
  -webkit-border-radius: 0.78125rem;
     -moz-border-radius: 0.78125rem;
          border-radius: 0.78125rem;
  -webkit-box-shadow: inset 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: inset 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
  background: #f2f2f2;
}

.progress-bar__filling {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#82C7A8), to(#50a182));
  background: -webkit-linear-gradient(top, #82C7A8, #50a182);
  background: -moz-linear-gradient(top, #82C7A8, #50a182);
  background: -o-linear-gradient(top, #82C7A8, #50a182);
  background: linear-gradient(to bottom, #82C7A8, #50a182);
  -webkit-border-radius: 0.78125rem;
     -moz-border-radius: 0.78125rem;
          border-radius: 0.78125rem;
  -webkit-box-shadow: inset 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: inset 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
  text-align: center;
}

.progress-bar__value {
  line-height: 1.5625rem;
}

/*/progress-bar*/
/*likes*/
.likes {
  position: relative;
  width: 6.875rem;
  height: 6.875rem;
  padding-top: 1.3125rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.3125rem solid #e6e6e6;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
}

.likes__img {
  display: inline-block;
  vertical-align: top;
  width: 3.25rem;
}

.likes__number {
  position: absolute;
  top: 0.3125rem;
  right: -0.3125rem;
  width: 1.8125rem;
  height: 1.8125rem;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background: #a345ab;
  line-height: 1.8125rem;
}

/*/likes*/
/*messages*/
.messages {
  padding-left: 0.625rem;
}

.messages__item {
  margin-bottom: 0.875rem;
  padding: 0.625rem 0.375rem 0.3125rem 0.4375rem;
  border: 0.0625rem solid #ccc;
  -webkit-border-radius: 0.3125rem;
     -moz-border-radius: 0.3125rem;
          border-radius: 0.3125rem;
  background: #fff;
  position: relative;
}

.messages__item:last-child {
  margin-bottom: 0;
}

.messages__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.6875rem;
  margin-top: -0.5rem;
  width: 0;
  height: 0;
  border-right: 0.625rem solid #ccc;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
}

.messages__item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.5625rem;
  margin-top: -0.5rem;
  width: 0;
  height: 0;
  border-right: 0.625rem solid #fff;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
}

.messages__author {
  text-align: right;
}

/*/messages*/
/*date*/
.date {
  position: relative;
}

.date__value {
  float: left;
  width: 4.75rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0.3125rem;
  border: 0.0625rem solid #54999b;
  -webkit-border-radius: 0.125rem;
     -moz-border-radius: 0.125rem;
          border-radius: 0.125rem;
  background: #fff;
  text-align: center;
}

.date__week-day {
  line-height: 1.4375rem;
  background: #add6da;
}

.date__event {
  padding-top: 0.375rem;
  margin-left: 5.5625rem;
  max-height: 2.625rem;
  overflow: hidden;
}

.date__countdown {
  position: absolute;
  bottom: 0;
  left: 5.5625rem;
  height: 1.625rem;
  padding: 0 0.75rem;
  -webkit-border-radius: 0.8125rem;
     -moz-border-radius: 0.8125rem;
          border-radius: 0.8125rem;
  background: #54779b;
  text-align: center;
}

/*/date*/
/*profile-header*/
.profile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-top: 0.125rem;
  background: #54999b;
}

.profile-header__up {
  margin-bottom: 0.9375rem;
  padding: 0 0.6875rem;
}

.profile-header__photo {
  float: left;
  width: 4.4375rem;
  height: 4.4375rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.125rem solid #ccc;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
}

.profile-header__photo img {
  max-width: 100%;
}

.profile-header__name {
  margin-left: 5rem;
  margin-bottom: 0.75rem;
  padding-top: 0.375rem;
  padding-left: 0.25rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-header__slogan {
  float: left;
  margin-left: 0.5rem;
  max-width: -webkit-calc(100% - 80 * 0.0625rem);
  max-width: -moz-calc(100% - 80 * 0.0625rem);
  max-width: calc(100% - 80 * 0.0625rem);
  padding: 0.625rem 0.8125rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: #add6da;
  position: relative;
}

.profile-header__slogan-text {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-header__slogan-triangle {
  display: block;
  position: absolute;
  top: -0.3125rem;
  left: 0.6875rem;
  width: 1rem;
  line-height: 0;
}

.profile-header__slogan-img {
  width: 100%;
}

.profile-header__nav {
  position: static;
}

/*/profile-header*/
/*table-inputs*/
.table-inputs {
  margin: 0 auto;
}

.table-inputs__key, .table-inputs__val {
  padding-bottom: 0.375rem;
}

.table-inputs__key {
  padding-right: 0.625rem;
  text-align: right;
}

.table-inputs__val {
  width: 11.6875rem;
}

.table-inputs__icon {
  display: inline-block;
  vertical-align: top;
  width: 2.125rem;
  padding: 0;
  text-align: center;
}

.table-inputs__img {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.0625rem;
}

.table-inputs__img--vk {
  width: 1.4375rem;
}

.table-inputs__img--fb {
  width: 0.6875rem;
}

.table-inputs__img--tw {
  width: 1.25rem;
}

.table-inputs__img--ig {
  width: 1.125rem;
  margin-top: -0.1875rem;
}

.table-inputs__buttons {
  padding-top: 0.5625rem;
}

.table-inputs__btn {
  width: 6.5625rem;
}

/*/table-inputs*/
/*side-menu*/
.side-menu {
  width: 54.6875%;
  min-width: 0;
  -webkit-box-shadow: 0.375rem 0 0.375rem 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0.375rem 0 0.375rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0.375rem 0 0.375rem 0 rgba(0, 0, 0, 0.25);
}

.side-menu__container {
  max-height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}

.side-menu__title {
  padding-left: 0.625rem;
  line-height: 1.375rem;
  border-bottom: 0.0625rem solid #e6e6e6;
}

/*/side-menu*/
/*side-menu-header*/
.side-menu-header {
  width: 54.6875%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.375rem 0.75rem 0;
  background: url("../img/bg-start.jpg") no-repeat 0 0;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: fixed;
  top: 0;
}

.side-menu-header__hide {
  position: absolute;
  top: 0.375rem;
  left: 0.75rem;
  width: 1.375rem;
  cursor: pointer;
}

.side-menu-header__icon {
  position: absolute;
  top: 0.625rem;
  right: 0.75rem;
  width: 1.125rem;
  height: 1.125rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.3125rem;
  background: #fff;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.side-menu-header__icon path {
  fill: #224347;
}

.side-menu-header__photo {
  margin: 0.5625rem auto 0.5rem;
  width: 5.625rem;
  height: 5.625rem;
  border: 0.1875rem solid #e6e6e6;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
}

.side-menu-header__photo img {
  max-width: 100%;
}

.side-menu-header__name {
  margin-bottom: 0.5rem;
  text-align: center;
}

.side-menu-header__slogan {
  margin: 0 -0.75rem;
  line-height: 1.375rem;
  text-align: center;
  background: #006064;
}

/*/side-menu-header*/
/*side-menu-list*/
.side-menu-list__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.75rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 1.4375rem;
  border-bottom: 0.0625rem solid #e6e6e6;
  text-transform: uppercase;
}

.side-menu-list__link svg {
  width: 0.625rem;
  margin-right: 0.625rem;
}

.side-menu-list__link svg path {
  fill: #224347;
}

.side-menu-list__link:focus, .side-menu-list__link:hover {
  color: #fff;
  background: #59acb4;
  border-color: #59acb4;
}

.side-menu-list__link:focus svg path, .side-menu-list__link:hover svg path {
  fill: #fff;
}

/*/side-menu-list*/
/*side-menu-footer*/
.side-menu-footer {
  width: 54.6875%;
  height: 3.125rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.4375rem;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #59acb4;
  text-decoration: none;
}

.side-menu-footer__icon {
  width: 1.25rem;
  margin-right: 0.3125rem;
}

.side-menu-footer__icon path {
  fill: #fff;
}

/*/side-menu-footer*/
/*activity*/
.activity {
  padding: 0.9375rem 0;
  max-height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}

.activity__title {
  margin-bottom: 0.625rem;
  text-align: center;
}

.activity__progress-bar {
  padding-top: 3.625rem;
  margin-bottom: 20px;
}

.activity__warning {
  margin-bottom: 3.4375rem;
  padding-left: 2rem;
  text-align: left;
  position: relative;
}

.activity__warning::before {
  content: '!';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background: #a345ab;
}

.activity__text {
  margin: 20px 0;
  text-align: center;
}

.activity__title-btn {
  display: inline-block;
  vertical-align: top;
  width: 1.375rem;
  height: 1.375rem;
  margin-left: 0.4375rem;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: none;
  outline: none;
  background: #50a182;
  position: relative;
}

.activity__title-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.0625rem;
  margin-left: -0.25rem;
  width: 0.5rem;
  height: 0.125rem;
  background: #fff;
}

.activity__title-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.25rem;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 0.5rem;
  background: #fff;
}

.activity__dates {
  margin-top: 2.8125rem;
  margin-bottom: 1.5625rem;
}

.activity__dates-item {
  margin-bottom: 0.9375rem;
}

.activity__dates-item:last-child {
  margin-bottom: 0;
}

.activity__text-down {
  display: block;
  text-align: center;
  text-decoration: none;
}

.activity__likes {
  margin: 0.9375rem auto 2.1875rem;
}

.activity__messages {
  margin-bottom: 2rem;
}

/*/activity*/
/*activity-footer*/
.activity-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.125rem;
  padding: 0 0.875rem;
  background: #add6da;
}

.activity-footer__link {
  width: 2.375rem;
  height: 2.375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #caeef1;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.activity-footer__icon--support {
  width: 1.25rem;
}

.activity-footer__icon--rss {
  width: 0.8125rem;
}

.activity-footer__icon--notify {
  width: 1rem;
}

.activity-footer__notification {
  display: block;
  position: absolute;
  top: 0.375rem;
  right: -0.625rem;
  width: 1.0625rem;
  line-height: 1.0625rem;
  text-align: center;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
}

/*/activity-footer*/
/*percent-circle*/
.percent-circle {
  display: block;
  height: 6.75rem;
  width: 6.75rem;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  position: relative;
}

.percent-circle__value {
  position: absolute;
  height: 6.25rem;
  width: 6.25rem;
  left: 50%;
  top: 50%;
  margin-top: -3.125rem;
  margin-left: -3.125rem;
  text-align: center;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}

.percent-circle__value::before {
  content: attr(data-pct);
  display: inline-block;
  vertical-align: top;
  line-height: 6.25rem;
}

.percent-circle__value::after {
  content: '%';
  display: inline-block;
  vertical-align: top;
  line-height: 6.25rem;
}

.percent-circle__value--abs::after {
  display: none;
}

.percent-circle__value--text {
  color: #50a182;
}

.percent-circle__value--text::before {
  font-family: Roboto-Bold, sans-serif;
  font-size: 1.5625rem;
  text-transform: uppercase;
}

.percent-circle__value--text-2x::before {
  font-family: Roboto-Regular, sans-serif;
  font-size: 3.125rem;
}

.percent-circle__input {
  display: none;
}

.percent-circle__svg--md {
  display: none;
}

.percent-circle__bg {
  stroke-dashoffset: 0;
  stroke: #e6e6e6;
  stroke-width: 0.375em;
}

.percent-circle__bar {
  stroke: #50a182;
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 1s linear;
  -o-transition: stroke-dashoffset 1s linear;
  -moz-transition: stroke-dashoffset 1s linear;
  transition: stroke-dashoffset 1s linear;
  stroke-width: 0.375em;
  -webkit-transform-origin: 50%;
     -moz-transform-origin: 50%;
      -ms-transform-origin: 50%;
       -o-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.percent-circle--blue .percent-circle__bar {
  stroke: #3b76bf;
}

.percent-circle--blue .percent-circle__value--text {
  color: #3b76bf;
}

.percent-circle--violet .percent-circle__bar {
  stroke: #a345ab;
}

.percent-circle--violet .percent-circle__value--text {
  color: #a345ab;
}

@media (min-width: 768px) {
  .percent-circle .percent-circle__svg {
    display: none;
  }
  .percent-circle .percent-circle__svg--md {
    display: block;
  }
}

/*/percent-circle*/
/*activity-stats*/
.activity-stats {
  padding-top: 0.9375rem;
  max-height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}

.activity-stats__title {
  margin-bottom: 0.625rem;
  text-align: center;
}

.activity-stats__item {
  margin-bottom: 0.875rem;
  line-height: 0;
}

.activity-stats__item:last-child {
  margin-bottom: 0;
}

/*/activity-stats*/
/*activity-data-item*/
.activity-data-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity-data-item__wrapper {
  margin-right: 1.25rem;
}

.activity-data-item__string {
  margin-bottom: 0.3125rem;
}

.activity-data-item__string:last-child {
  margin-bottom: 0;
}

.activity-data-item__date {
  min-width: 6.75rem;
  min-height: 6.75rem;
}

/*/activity-data-item*/
/*activity-date*/
.activity-date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity-date__wrapper {
  margin-right: 0.375rem;
}

/*/activity-date*/
/*activity-progress*/
/*/activity-progress*/
/*profile*/
.profile {
  padding: 0.9375rem 0;
  max-height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}

.profile__title {
  margin-bottom: 1.625rem;
  text-align: center;
}

/*/profile*/
/*end of style*/
