/*style*/
/*variables*/
/*width*/
/*/width*/
/*font-size*/
/*font-family*/
/*/font-family*/
/*color*/
/*/color*/
/*/variables*/
/*mixins*/
/*end of mixins*/
/*button*/
.btn-form {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: #fff;
  border: 0.0625rem solid #00828f;
  -webkit-border-radius: 0.375rem;
     -moz-border-radius: 0.375rem;
          border-radius: 0.375rem;
  line-height: 2.375rem !important;
}

.btn-form:focus, .btn-form:hover {
  background: #f2f2f2;
}

.btn-form--right {
  padding-right: 1.875rem;
}

.btn-form--right + svg {
  position: absolute;
  top: 0.8125rem;
  right: 0.4375rem;
  width: 1rem;
  height: auto;
  fill: #b3b3b3;
}

.btn-form::-webkit-input-placeholder {
  opacity: 1;
  color: #b3b3b3;
}

.btn-form:-ms-input-placeholder {
  opacity: 1;
  color: #b3b3b3;
}

.btn-form::-moz-placeholder {
  opacity: 1;
  color: #b3b3b3;
}

.btn-form--login {
  -webkit-box-shadow: 0 0.1875rem 0.125rem 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 0.1875rem 0.125rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1875rem 0.125rem 0 rgba(0, 0, 0, 0.25);
}

.btn-twosided {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  position: relative;
}

.btn-twosided:focus, .btn-twosided:hover {
  background: #fff;
}

.btn-big {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background: #53759a;
  border: 0 solid #00828f;
  -webkit-border-radius: 0.4375rem;
     -moz-border-radius: 0.4375rem;
          border-radius: 0.4375rem;
  line-height: 3rem !important;
}

.btn-big:focus, .btn-big:hover {
  background: #53759a;
}

.btn-big--login {
  background: rgba(83, 117, 154, 0.7);
}

.btn-footer-start {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  background: #00828f;
  border: 0 solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  line-height: 3rem !important;
  text-align: center;
}

.btn-footer-start:focus, .btn-footer-start:hover {
  background: #54999b;
}

.btn-footer-start:focus, .btn-footer-start:hover {
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0.3125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0.3125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
}

/*end of button*/
/*general*/
html,
body,
p,
h1,
h2,
h3,
h4,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html {
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 32px;
  }
}

body {
  position: relative;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #58bbc4;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/*end of general*/
/*typography*/
.input-text, .btn-form, .text-hdr-start, .text-sm {
  font-family: Roboto-Regular, sans-serif;
}

.text-main, .text-main-green, .text-main-grey {
  font-family: Roboto-Regular, sans-serif;
  font-size: 1rem;
  color: #fff;
}

.text-main-green {
  color: #3b8989;
}

.text-main-grey {
  color: #808080;
}

.input-text, .btn-form {
  font-size: 0.875rem;
  color: #808080;
}

.text-big-btn {
  font-family: Roboto-Regular, sans-serif;
  font-size: 1.0625rem;
  line-height: 1.2em;
  color: #fff;
  text-transform: uppercase;
}

.text-hdr-start {
  font-size: 0.875rem;
  color: #00828f;
  text-transform: uppercase;
  text-decoration: none;
}

.text-sm {
  font-size: 0.875rem;
  color: #224347;
  text-decoration: none;
}

/*end of typography*/
/*layout*/
.layout-start {
  padding: 2.6875rem 0 3.625rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

.layout-start--login {
  padding-top: 1.125rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: #58bbc4 url("../img/bg-start.jpg") no-repeat 0 0;
}

.layout-start--padding {
  padding-top: 2.6875rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.layout-start__logo {
  margin: 0 auto 1.5rem;
}

.layout-start__label {
  margin-bottom: 0.875rem;
}

/*end of layout*/
/*logo*/
.logo {
  width: 9.5rem;
  height: 5.75rem;
  background: url("../img/svg/logo.svg") no-repeat 0 0;
}

/*end of logo*/
/*forms*/
.input {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  border: 0 solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  line-height: 2.5rem !important;
  padding: 0;
}

.input:focus, .input:hover {
  background: #fff;
}

.label {
  display: block;
  position: relative;
}

.captcha {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.captcha__item {
  width: 47%;
  height: 2.5rem;
}

.captcha__item svg {
  max-width: 100%;
  max-height: 100%;
}

.form-search {
  padding: 0.5rem 1rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: #f2f2f2;
}

.form-search__list {
  margin: 0 -1rem -0.5rem;
}

.label-twosided {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.625rem;
}

.label-twosided:hover, .label-twosided:focus {
  background: #fff;
}

.label-twosided svg {
  cursor: pointer;
}

.label-twosided svg:first-child {
  width: 1.375rem;
  margin-right: 0.5rem;
}

.label-twosided svg:first-child path {
  fill: #58bbc4;
}

.label-twosided svg:last-child {
  width: 0.875rem;
  margin-left: 0.5rem;
}

.label-twosided svg:last-child path {
  fill: #808080;
}

.label-rigth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.6875rem;
}

.label-rigth svg {
  width: 0.5rem;
  margin-left: 0.75rem;
}

.label-rigth svg path {
  fill: #006064;
}

/*/forms*/
/*footer*/
.footer-start {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.75rem;
  padding: 0.3125rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: #00828f;
}

.footer-start__btn {
  width: 45%;
}

/*/footer*/
/*header*/
.header-start {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-start__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3125rem 2.25rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 2.6875rem;
  background: #caeef1;
}

.header-start__btn {
  position: absolute;
  top: 0.875rem;
  left: 1.125rem;
  width: 1.125rem;
}

/*/header*/
/*recovery*/
.recovery {
  padding-top: 1rem;
}

/*/recovery*/
/*restaurant*/
.rest-name__link {
  display: block;
  padding-left: 2.625rem;
  line-height: 2.375rem;
  position: relative;
}

.rest-name__link:hover, .rest-name__link:focus {
  background: #f2f2f2;
}

.rest-name__link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 1.4375rem;
  margin-top: -0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 0.0625rem solid #b3b3b3;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.rest-name__link--form {
  padding-left: 1.4375rem;
}

.rest-name__link--form::before {
  display: none;
}

.rest-name__link--form:hover, .rest-name__link--form:focus {
  background: #e6e6e6;
}

/*/restaurant*/
/*rest-list*/
.rest-find {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

.rest-find__list {
  padding-right: 1.25rem;
}

.rest-find__form-list {
  display: none;
}

.rest-find--searching::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.rest-find--searching .rest-find__form {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
}

.rest-find--searching .rest-find__form-list {
  display: block;
}

/*/rest-list*/
/*password-message*/
.password-message {
  padding-top: 2.0625rem;
}

.password-message__text {
  margin-bottom: 2.1875rem;
  text-align: center;
}

.password-message__text:last-child {
  margin-bottom: 0;
}

/*/password-message*/
/*register*/
.register {
  height: 100%;
}

.register__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
}

.register__item {
  margin: 0.375rem 0;
}

/*/register*/
/*side-menu*/
/*/side-menu*/
/*side-menu-header*/
.side-menu-header {
  width: 54.6875%;
  height: 11.5rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.375rem 0.75rem;
  background: url("../img/bg-start.jpg") no-repeat 0 0;
  -webkit-background-size: auto 100%;
     -moz-background-size: auto 100%;
       -o-background-size: auto 100%;
          background-size: auto 100%;
  position: relative;
}

.side-menu-header__hide {
  position: absolute;
  top: 0.375rem;
  left: 0.75rem;
  width: 1.375rem;
  cursor: pointer;
}

.side-menu-header__icon {
  position: absolute;
  top: 0.625rem;
  right: 0.75rem;
  width: 1.125rem;
  height: 1.125rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.3125rem;
  background: #fff;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.side-menu-header__icon path {
  fill: #224347;
}

/*/side-menu-header*/
/*end of style*/
