/*activity-data-item*/
.activity-data-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wrapper {
    margin-right: 20 / 16 * $base-font-size;
  }

  &__string {
    margin-bottom: 5 / 16 * $base-font-size;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__date {
    min-width: 108 / 16 * $base-font-size;
    min-height: 108 / 16 * $base-font-size;
  }
}
/*/activity-data-item*/