/*button*/
//buttons, inputs
.btn-form {
  @include btn(
    .5 * $base-font-size,
    .5 * $base-font-size,
    #fff,
    $btn-hover-color,
    1 / 16 * $base-font-size,
    $input-color,
    .375 * $base-font-size,
    2.375 * $base-font-size
  );

  @extend .input-text;

  &--right {
    padding-right: 1.875 * $base-font-size;

    & + svg {
      position: absolute;
      top: 13 / 16 * $base-font-size;
      right: 7 / 16 * $base-font-size;

      width: $base-font-size;
      height: auto;

      fill: $placeholder-text-color;
    }
  }

  @include placeholder(1, $placeholder-text-color);

  &--login {
    box-shadow: 0 3 / 16 * $base-font-size .125 * $base-font-size 0 rgba(0,0,0,.25);
  }
}

.btn-form-sm {
  @extend .btn-form;

  line-height: 28 * $px !important;
}

.btn-twosided {
  padding-left: 30 / 16 * $base-font-size;
  padding-right: 30 / 16 * $base-font-size;

  position: relative;

  &:focus,
  &:hover {
    background: #fff;
  }
}

.btn-big {
  @include btn(
    0,
    0,
    $big-btn-color,
    $big-btn-color,
    0,
    $input-color,
    .4375 * $base-font-size,
    3 * $base-font-size
  );

  &--login {
    background: $big-btn-color-login;
  }
}

.btn-footer-start {
  @include btn(
    5 / 16 * $base-font-size,
    5 / 16 * $base-font-size,
    $input-color,
    $footer-start-btn-hover,
    0,
    transparent,
    0,
    48 / 16 * $base-font-size
  );

  text-align: center;

  &:focus,
  &:hover {
    box-shadow: 5 / 16 * $base-font-size 5 / 16 * $base-font-size 5 / 16 * $base-font-size 0 rgba(0,0,0,.25);
  }
}

.btn-simple-green {
  @include btn(
    0,
    0,
    $input-color,
    $footer-start-btn-hover,
    0,
    transparent,
    0,
    26 / 16 * $base-font-size
  );
  text-align: center;

  display: block;
  width: 116 / 16 * $base-font-size;
  margin: 0 auto;

  box-shadow: 3 / 16 * $base-font-size 3 / 16 * $base-font-size 3 / 16 * $base-font-size 0 rgba(0,0,0,.25) ;
}

.btn-simple-add {

  @include btn(
    23 * $px,
    5 * $px,
    #fff,
    #fff,
    $px,
    $input-color,
    0,
    24 * $px
  );
  text-align: center;

  display: block;
  width: 116 * $px;

  box-shadow: 3 * $px 3 * $px 3 * $px 0 rgba(0,0,0,.25);

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 8 * $px;

    margin-top: -1 * $px;

    width: 8 * $px;
    height: 2 * $px;

    background: $input-color;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 11 * $px;

    margin-top: -4 * $px;

    width: 2 * $px;
    height: 8 * $px;

    background: $input-color;
  }
}

.btn-wide-icon {
  display: block;

  padding: 0 49 * $px 0 14 * $px;

  border-radius: 6 * $px;
  border-bottom: 4 * $px solid $footer-start-btn-hover;

  background: $ziggurat;

  line-height: 44 * $px !important;

  position: relative;

  &__img {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 49 * $px;
    height: 100%;

    border-radius: 0 6 * $px 6 * $px 0;
    border-bottom: 4 * $px solid $text-common-color;

    background: $plantation;

    svg {
      width: 22 * $px;

      path {
        fill: #fff;
      }
    }

    &--lock {

      svg {
        width: 15 * $px;
      }
    }
  }
}
/*end of button*/