/*button*/
//buttons, inputs
.btn-form {
  @include btn(
    .5 * $base-font-size,
    .5 * $base-font-size,
    #fff,
    $btn-hover-color,
    1 / 16 * $base-font-size,
    $input-color,
    .375 * $base-font-size,
    2.5 * $base-font-size
  );

  @extend .input-text;

  &--right {
    padding-right: 1.875 * $base-font-size;

    & + svg {
      position: absolute;
      top: 13 / 16 * $base-font-size;
      right: 7 / 16 * $base-font-size;

      width: $base-font-size;
      height: auto;

      fill: $placeholder-text-color;
    }
  }

  @include placeholder(1, $placeholder-text-color);

  &--login {
    box-shadow: 0 3 / 16 * $base-font-size .125 * $base-font-size 0 rgba(0,0,0,.25);
  }
}

.btn-twosided {
  padding-left: 30 / 16 * $base-font-size;
  padding-right: 30 / 16 * $base-font-size;

  position: relative;

  &:focus,
  &:hover {
    background: #fff;
  }
}

.btn-big {
  @include btn(
    0,
    0,
    $big-btn-color,
    $big-btn-color,
    0,
    $input-color,
    .4375 * $base-font-size,
    3 * $base-font-size
  );

  &--login {
    background: $big-btn-color-login;
  }
}

.btn-footer-start {
  @include btn(
    5 / 16 * $base-font-size,
    5 / 16 * $base-font-size,
    $input-color,
    $footer-start-btn-hover,
    0,
    transparent,
    0,
    48 / 16 * $base-font-size
  );

  text-align: center;

  &:focus,
  &:hover {
    box-shadow: 5 / 16 * $base-font-size 5 / 16 * $base-font-size 5 / 16 * $base-font-size 0 rgba(0,0,0,.25);
  }
}
/*end of button*/