/*forms*/
.input {
  @include btn(
    0,
    0,
    #fff,
    #fff,
    0,
    transparent,
    0,
    2.5 * $base-font-size
  );

  padding: 0;
}

.label {
  display: block;

  position: relative;
}

.captcha {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    width: 47%;
    height: 44 / 16 * $base-font-size;

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.form-search {
  padding: .5 * $base-font-size $base-font-size;
  box-sizing: border-box;

  background: $btn-hover-color;

  &__list {
    margin: 0 (-$base-font-size) (-.5 * $base-font-size);
  }
}

.label-twosided {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 4 / 16 * $base-font-size;
  padding-right: 10 / 16 * $base-font-size;

  &:hover,
  &:focus {
    background: #fff;
  }

  svg {
    cursor: pointer;
  }

  svg:first-child {
    width: 22 / 16 * $base-font-size;

    margin-right: 8 / 16 * $base-font-size;

    path {
      fill: $bg-color;
    }
  }

  svg:last-child {
    width: 14 / 16 * $base-font-size;

    margin-left: 8 / 16 * $base-font-size;

    path {
      fill: $input-text-color;
    }
  }
}
/*/forms*/