/*general*/
html,
body,
p,
h1,
h2,
h3,
h4,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

button {
  padding: 0;
  border: none;
}

html {
  height: 100vh;

  overflow: hidden;

  font-size: 16px;

  @media (min-width: $width-md) {
    font-size: 32px;
  }
}

body {
  position: relative;
  width: 100%;
  min-width: 320px;

  height: 100vh;

  &::-webkit-scrollbar {
    width: $base-font-size / 4;
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $bg-color;
  }
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

//vertical thumb
::-webkit-scrollbar-thumb:vertical {
  background-color: transparent;
}

//vertical thumb
::-webkit-scrollbar-thumb:horizontal {
  background-color: transparent;
}

//positioning
.fl-l {
  float: left;
}

.fl-r {
  float: right;
}
/*end of general*/