/*header*/
.header-start {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5 / 16 * $base-font-size 36 / 16 * $base-font-size;
    box-sizing: border-box;
    height: 43 / 16 * $base-font-size;

    background: $hdr-start-color;
  }

  &__btn {
    position: absolute;
    top: 14 / 16 * $base-font-size;
    left: 18 / 16 * $base-font-size;

    width: 18 / 16 * $base-font-size;
  }
}
/*/header*/