/*password-message*/
.password-message {
  padding-top: 33 / 16 * $base-font-size;

  &__text {
    margin-bottom: 35 / 16 * $base-font-size;

    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
/*/password-message*/