/*side-menu-header*/
.side-menu-header {
  width: 175 / 320 * 100%;
  box-sizing: border-box;

  padding: 6 / 16 * $base-font-size 12 / 16 * $base-font-size 0;

  background: url('../img/bg-start.jpg') no-repeat 0 0;
  background-size: cover;

  position: fixed;
  top: 0;

  &__hide {
    position: absolute;
    top: 6 / 16 * $base-font-size;
    left: 12 / 16 * $base-font-size;

    width: 22 / 16 * $base-font-size;

    cursor: pointer;
  }

  &__icon {
    position: absolute;
    top: 10 / 16 * $base-font-size;
    right: 12 / 16 * $base-font-size;

    width: 18 / 16 * $base-font-size;
    height: 18 / 16 * $base-font-size;
    box-sizing: border-box;

    padding: 0 5 / 16 * $base-font-size;

    background: #fff;
    border-radius: 50%;

    path {
      fill: $text-common-color;
    }
  }

  &__photo {
    margin: 9 / 16 * $base-font-size auto 8 / 16 * $base-font-size;

    width: 90 / 16 * $base-font-size;
    height: 90 / 16 * $base-font-size;

    border: 3 / 16 * $base-font-size solid $btn-hover-color-dark;
    border-radius: 50%;

    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  &__name {
    margin-bottom: 8 / 16 * $base-font-size;

    text-align: center;
  }

  &__slogan {
    margin: 0 -12 / 16 * $base-font-size;

    line-height: 22 / 16 *$base-font-size;
    text-align: center;

    background: $dark-green;
  }
}
/*/side-menu-header*/