/*typography*/
%common-text {
  font-family: $roboto-reg;
}

.ttu {
  text-transform: uppercase;
}

.text-main {
  font-family: $roboto-reg;
  font-size: $base-font-size;
  color: #fff;
}

.text-main-green {
  @extend .text-main;
  color: $text-common-light-color;
}

.text-main-grey {
  @extend .text-main;
  color: $input-text-color;
}

.input-text {
  @extend %common-text;
  font-size: $sm-font-size;
  color: $input-text-color;
}

.text-big-btn {
  font-family: $roboto-reg;
  font-size: 17 / 16 * $base-font-size;
  line-height: 1.2em;
  color: #fff;
  text-transform: uppercase;
}

.text-hdr-start {
  @extend %common-text;
  font-size: $sm-font-size;
  color: $input-color;
  text-transform: uppercase;
  text-decoration: none;
}

.text-sm {
  @extend %common-text;
  font-size: $sm-font-size;
  color: $text-common-color;
  text-decoration: none;
}

.text-xs {
  @extend %common-text;
  font-size: $xs-font-size;
  color: $text-common-color;
  text-decoration: none;
}

.text-xxs-white {
  @extend %common-text;
  font-size: $xxs-font-size;
  color: #fff;
  text-decoration: none;
}

.text-xxs-dark-green {
  @extend %common-text;
  font-size: $xxs-font-size;
  color: $text-common-color;
  text-decoration: none;
}

.text-11-light-green {
  @extend %common-text;
  font-size: $font-size-11;
  color: $bg-color-light;
  text-decoration: none;
}
/*end of typography*/