/*variables*/
/*font-family*/
$roboto-reg: Roboto-Regular, sans-serif;
/*end of font-family*/

/*font-size*/
$base-font-size: 16px;
$text-common-font-size: $base-font-size - 2px;
$title-font-size: $base-font-size + 2px;
/*end of font-size*/

/*color*/
$placeholder-text-color: #b3b3b3;
$btn-hover-color: #f2f2f2;
$input-text-color: #808080;
$text-common-color: #224347;
$text-common-light-color: #3b8989;
$input-color: #00828f;
$big-btn-color: #53759a;
$accent-color: #ff7435;
$title-common-color-hover: $accent-color;
/*end of color*/

/*width*/
$width-lg: 1200px;
$width-md: 768px;
/*end of width*/
/*end of variables*/